.nav-button{
    background: #5664aa;
   }
   .nav-text{
    color: #1A1E33;

   }
   .secondary-text-color{
    color: #5664AA;

   }
   .primary-text-color {
    color: #2B3255;

   }
   .top-section {
    height: 747px;
    background: #ABB9FF;
   }
   .primary-back {
    background: #E6EAFF;
   }
   .footer-bg-color{
    background: #E6EAFF;   }
    
      

    @media screen and(max-width: 600px){
        .header-nav{
            display: block;
            background-color: red;
        }
        
        .open{
            display: block;
        }
        
    }

    